<<<<<<< HEAD
body {
  margin: 0 auto;
}
.wrapper {
  display: flex;
  height: 100%;
  flex-direction: row;
  flex-basis: 100vw;
  justify-content: space-between;
}
.flex {
  display: flex;
}
.status-container {
  flex-basis: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  overflow-x: auto;
  background: #f2f5fa;
}
.status {
  display: flex;
  flex-basis: 350px;
  flex-shrink: 0;
  flex-direction: column;
  height: 93vh;
}
.status__header {
  text-align: center;
  color: #ffffff;
  background: #208abe;
  margin-bottom: 10px;
}
