.card {
  background: #ffffff;
  /*display: flex;*/
  flex-direction: column;
  justify-content: space-around;
  border-radius: 10px;
  margin: 7px;
  padding: 7px;
}
.card__container {
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card__header {
  text-align: center;
}
.module__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.module {
  border-left: 8px solid #208abe;
  background: #e8e9ed;
  margin: 7px;
  text-align: center;
  border-radius: 5px;
}
.module:hover {
  border-left: 7px solid #065177;
  background: lightgrey;
}
